[submodule "third_party/protobuf"]
	path = third_party/protobuf
	url = https://github.com/protocolbuffers/protobuf
[submodule "third_party/sqlite"]
	path = third_party/sqlite
	url = https://github.com/sqlite/sqlite
[submodule "third_party/glog"]
	path = third_party/glog
	url = https://github.com/google/glog
[submodule "third_party/easyloggingpp"]
	path = third_party/easyloggingpp
	url = https://github.com/amrayn/easyloggingpp
[submodule "third_party/cpputest"]
	path = third_party/cpputest
	url = https://github.com/cpputest/cpputest
